:root {
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    max-width: 1920px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
}

/* nav li a {
    text-decoration: none;
    color: rgb(154, 153, 153);
} */


#box-part {
    display: flex;
    justify-content: center;
    width: 20%;
}

#item {
    width: 40%;
}

#logo-part {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: left;
}

#content {
    display: flex;
}

#filter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 900px;
    background-color: aqua;
}

#panel {
    width: 70%;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
}

.checked {
    color: yellow;
}

#panel div div {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

#not-found {
    width: 60%;
    background-color: beige;
}

footer {
    background-color: rgb(26, 25, 25);
    height: 300px;
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    #logo {
        width: 15%;
    }

    #search {
        width: 200px;
    }

    #box-part {
        width: 25%;
    }

    #item {
        width: 50%;
    }

    #logo-part {
        width: 30%;
    }

    #filter {
        width: 50%;
    }

    #panel {
        width: 60%;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    #logo {
        width: 20%;
    }

    #search {
        width: 150px;
    }

    #box-part {
        width: 30%;
    }

    #item {
        width: 60%;
    }

    #logo-part {
        width: 40%;
    }

    #filter {
        width: 60%;
    }

    #panel {
        width: 80%;
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
    }

    #logo {
        width: 30%;
    }

    #search {
        width: 100px;
    }

    #box-part {
        width: 40%;
    }

    #item {
        width: 80%;
    }

    #logo-part {
        width: 50%;
    }

    #filter {
        width: 80%;
    }

    #panel {
        width: 90%;
    }
}